extends layout

block content
  h1= title
  p Welcome to #{title}

      p.
         A simple Jade example.
         You'll learn to write
         all of this in ch 2
      
      p Jade FTW!

      p
       | This is a demonstration
       | of Jade's text blocks
      p
      p ok going good
      //a block comment
        what about this line.


     ul
          li.first: a(href='#') foo
          li: a(href='#') bar
          li.last: a(href='#') baz