extends layout

block content
  h1= title
  p Welcome to #{title}

      p.
         A simple Jade example.
         You'll learn to write
         all of this in ch 2
      
      p Jade FTW!

      p
       | This is a demonstration
       | of Jade's text blocks
      p
      p ok going good
        

        p(id="hello") Hello World!!


     //This is a comment !!